@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #585650;
}

.decorated-text {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.relative {
  position: relative;
}

.desktop__width-50 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .desktop__width-50 {
    width: 50%;
  }
}

.article-title {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
}

.article-description {
  text-align: center;
  font-size: 0.75rem;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .article-title {
    font-size: 2.5rem;
  }

  .article-description {
    font-size: 1rem;
  }
}

#main-header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: white;
  z-index: 100;
}

.header-title {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.header__menu-icon {
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .header__menu-icon {
    display: none;
  }
}

.header__nav-list {
  display: none
}

@media screen and (min-width: 600px) {
  .header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
  }
}

.main-container {
  width: 100%;
}

.main-carousel__item-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-carousel__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 20, 0.60);
  z-index: 5;
}

.main-title__container {
  color: white;
  position: absolute;
  width: 80vw;
  max-width: 40rem;
  min-height: 15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.72);
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 20px;
}

@media screen and (min-width: 600px) {
  .main-title__container {
    padding: 2rem 4rem;
  }
}

.main-welcome {
  font-size: 0.75rem;
  margin: 1rem;
  color: gray;
}

.main-title {
  font-size: 1.75rem;
  margin: 1rem;
}

.main-subtitle {
  font-size: 1.25rem;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .main-welcome {
    font-size: 1rem;
  }

  .main-title {
    font-size: 3.5rem;
  }

  .main-subtitle {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-welcome {
    font-size: 1.75rem;
  }

  .main-title {
    font-size: 4rem;
  }

  .main-subtitle {
    font-size: 2.25rem;
  }
}

.search-article__container {
  display: flex;
  flex-direction: column;
  margin: 4rem 1rem;
}

@media screen and (min-width: 1024px) {
  .search-article__container {
    flex-direction: row;
    margin: 8rem 4rem;

  }
}